{{#partial "content"}}

    <h1>Places I've Visited!</h1>

    {{#if allPlaces}}
    {{#each allPlaces}} <!--loop-->
    <h3>Place Visited:</h3><p><br> {{places}}</p>
    <p>{{createdAt}}</p><br><p>{{ places }} <a href="/places/{{id}}"> read more...</a></p>
    <p>-------------------------------</p>
    {{/each}}
{{else}}
<p>No places visited!</p>
{{/if}}
{{/partial}}


{{> layout.hbs}}


